@import "../Variable.scss";

.hero {
  &__phone {
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 60px;
animation: phone 1s infinite alternate;
    
  }
}

@keyframes phone {
  0%{
   scale: 0.7;
  }
  100%{
    scale: 0.9;
  }
}
