@import "../Variable.scss";

.hero {
  &__container {
    display: flex;
    background: rgb(0, 56, 43);
    justify-content: space-between;
    position: relative;
    margin-bottom: toRem(60);
  }

  &__body {
    position: absolute;
    left: 13.5%;
    top: 50%;
    @media (max-width: $mobile) {
      left: 10px;
    }
  }

  &__img {
    @include adaptiveValue("width", 800, 300);
    margin-bottom: toRem(-30);
    margin-left: auto;
    img {
      width: 100%;
    }
  }
}

.body-hero {
  &__title {
    letter-spacing: 3px;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 50, 18);
    text-wrap: nowrap;
    color: rgb(77, 204, 122);
    span {
      color: white;
    }
  }

  &__suptitle {
    text-wrap: nowrap;
    color: rgb(77, 204, 122);
    @include adaptiveValue("font-size", 30, 16);
  }
}
